<h1><%=@lab.name%></h1>
<h2><%=@lab.description%></h2>

<div id="snippets">

</div>
<script type="text/javascript">var myCodeMirror = CodeMirror(document.body);</script>


Add your snippet!

<%=form_for @snippet, :remote=> true do |f|%>
  <%=f.label :content%>
  <%=f.text_area :content %>
  <%=f.hidden_field :lab, value: @lab.id%>
  <%=f.submit "create"%>
<%end%>


